.barra2{
	left:1px;
}

.barra1{
	width:240px;
}

.logo{
	color:black;
}

.main{
	left: 20px;
	width: 990px;
	margin-top: 10px;
	color:black;
}

.barra2 ul{
	background-color: black; 
	border-radius:5px; 
}

