col-md-16{
	background-image:url(img/blur1.jpg);
}
p{
	font-size: 16px;
	color:white;
}
a{
	color: black;
}
.barra{
	border-radius: 5px;
}
.comentario{
	right: -150px;
	top: 30px; 
}
.bar{
	top:20px;	
	margin-left: 0px;
	margin-right: 0px;
}

.platos{
	width: 350px;
	border-radius: 4px;	
	height: 300px;
}
h1{
	font-size: 26px;
	color:white;
}

h2{
	font-size:20px;
}

.col-md-4{
	height: 540px;
}